body {
    font-family: "Open Sans", sans-serif;
    font-size: fem(16px, 16px);
    font-weight: normal;
    line-height: fem(22px, 16px);
}

h1, h2, h3, h4, h5, h6, code, pre {
    font-family: $font-family-title;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 15px 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        font-weight: bold;
    }
}

strong {
    font-weight: bold;
}